# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencies
node_modules/
vendor/

# Build & Cache
.next/
out/
build/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
